@import url(https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap);

body {
  overflow: hidden;
}

/* Colors */
$primary: #4ca9f7;
$secondary: #0088fa;
$third: #60adec;
$fourth: #276997;
$fifth: #1c5581;


$base: #333;
$base2: #666;
$base3: #999;

$neutral1: #fff;
$neutral2: #f1f1f1;
$neutral3: #f2f2f2;
$neutral4: #cde6fb;
$neutral5: #ccc;
$neutral6: #ddd;
$neutral7: #f9f9f9;

$alert: red;
$ok: rgb(13, 163, 46);
$ok-hover: rgb(15, 209, 57);
$special: orange;
$special-hover: rgb(255, 238, 0);
$favorie: crimson;


* { transition: none !important;}

/** General **/
.locationView-page .details::-webkit-scrollbar,
#place::-webkit-scrollbar,
#page::-webkit-scrollbar {
  width: 10px;
}

.description.white-space::-webkit-scrollbar,
#place .place-innercontainer::-webkit-scrollbar,
ul#places::-webkit-scrollbar,
.leaflet-popup-content-wrapper::-webkit-scrollbar,
.locationGrid-page .location .innercontainer .location-body::-webkit-scrollbar {
  width: 5px;
}

.locationView-page .details,
.description.white-space,
#place,
#page,
#place .place-innercontainer,
ul#places,
.leaflet-popup-content-wrapper,
.locationGrid-page .location .innercontainer .location-body {
  scrollbar-color: $neutral5 white;
  scrollbar-width: thin;
}

.locationView-page .details::-webkit-scrollbar-thumb,
.description.white-space::-webkit-scrollbar-thumb,
#place::-webkit-scrollbar-thumb,
#page::-webkit-scrollbar-thumb,
#place .place-innercontainer::-webkit-scrollbar-thumb,
ul#places::-webkit-scrollbar-thumb,
.leaflet-popup-content-wrapper::-webkit-scrollbar-thumb,
.locationGrid-page .location .innercontainer .location-body::-webkit-scrollbar-thumb {
  background: $neutral5;
}

.flex {
  display: -moz-flex;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -moz-flex-warp: warp;
  -webkit-box-pack: flex-around;
  -ms-flex-pack: flex-around;
  justify-content: flex-around;
  -webkit-justify-content: space-around;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  flex-direction: row;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.locationGrid-page .react-slicer__view,
.flex-left {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 0 1 auto;
  -webkit-box-flex: 0;
  flex: 0 1 auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

/** Nav **/
.navbar {
  z-index: 9991 !important;
  position: relative;
  width: 100%;
}


.navbar-dark .navbar-brand { font-size:.9em; font-weight: bold;
margin-left:-10px; margin-right:0px}

nav {
  background: $primary;
  color: $neutral1;
}

nav a,
nav a:visited {
  font-size:.95em;
  color: $neutral1 !important;
  margin: 0px 5px 0px 5px;
  border-radius: 5px;
  padding:8px 10px 9px 10px !important;
}

nav ul {
  margin: 0px;
  padding: 0px;
  display: inline;
}

nav ul li {
  list-style: none;
  display: inline-block;
}

nav a:hover,
nav a:active,
nav .nav-link.active,
nav .nav-link.active:hover {
  color: $neutral1;
  background: $secondary;
}

nav a .material-icons {
  font-size:15px !important;
  position:relative;
  top:2.5px;
  margin-right:2px;
}

nav .nav-link.add-new {
  background: $secondary;
  right: 16px;
  position: absolute;
  top: 8px;
}

nav .nav-link.add-new:hover {
  background: $special;
}

nav #logo:hover {
  background: transparent;
}

nav .navbar-toggler {
  border-color: $neutral4;
}

nav .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,<svg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'><path stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/></svg>") !important;
}

nav a.navbar-brand:hover,
nav a.navbar-brand:active {
  background: transparent !important;
}

/** Base **/
.container {
  width: 100%;
  min-width: 100%;
  height: 100%;
  min-height: 100%;
  background: $neutral3;
  position: absolute;
}

#page {
  height: calc(100vh - 56px);
  width: 100%;
  position: absolute;
  overflow-y: auto;
  overflow-x: hidden;
  background: $neutral3;
}

.innerwidth {
  max-width: 1280px;
  width: auto;
  margin: 0 auto !important;
}

#page .innerwidth {
  margin-top: 30px !important;
}

.innercontainer {
  margin: 20px;
}

#page .innercontainer {
  margin: 20px 25px 30px 25px !important;
}

#page.content-page .innercontainer {
  background: $neutral1 !important;
  padding: 30px;
  border-radius:5px;
}

.innercontainer.search {
  width: auto !important;
}

main {
  position: relative;
}

/** List and forms **/
.list {
  text-align: left;
  margin: auto;
}

.submit-form {
  max-width: 300px;
  margin: auto;
}

input:required,
textarea:required {
  border-color: $ok;
}

input:invalid,
textarea:invalid {
  border-color: $alert;
}

span.required {
  color: $alert;
}

.open,
.edit {
  font-size: .7rem;
  padding: 5px;
  width: 150px;
  border-radius: 5px;
  display: block;
  text-align: center;
  font-weight: bold;
  border: 1px solid $neutral6;

}

.open {
  color: $secondary;
}

.open:hover {
  text-decoration: none;
  background: $secondary;
  border-color: $secondary;
  color: $neutral1;
}

.edit {
  color: $special;
}

.edit:hover {
  text-decoration: none;
  background: $special;
  border-color: $special;
  color: $neutral1;
}

.subdetails button {
  border: 0px;
  padding: 10px;
  margin: 5px;
}

.subdetails button:hover {
  background: $special;
}

.white-space {
  white-space: pre-wrap;
}

/** Bootstarp buttonit **/
.btn-secondary { background:$secondary; border-color:$secondary}
.btn-secondary:hover { background:$special; border-color:$special}
.btn-secondary.focus, .btn-secondary:focus,
.btn-secondary:not(:disabled):not(.disabled):active { background:$ok !important; border-color:$ok;} 

.btn-outline-info { color:$fourth; border-color:$neutral6; padding:15px;}
.btn-outline-info:hover { color:$neutral1; border-color:$fourth; background-color:$fourth;}
/** Add, edit, places **/

.row {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.subdetails {
  margin: 0 15px 0 15px;
}

.form-group {
  background: $neutral1;
  padding: 20px 30px;
  border-radius: 5px;
}

form label {
  font-weight: bold;
  font-size: .9em;
}

form input[type=radio] {
  font-size: 1px;
}

form input,
form textarea {
  margin: 5px 0px 20px 0px;
  border-radius: 5px !important;
}

small {
  font-size: .8em;
}

small.even-smaller {
  font-size: .69em;
  color: #999;
}

/** List view (Frontpage) **/

aside {    
  border-right: 1px solid $neutral2 !important;
  width: 351px;
  position: absolute;
  height: 100vh;
  z-index: 9991;}

#places {
  width: 350px;
  height: calc(100vh - 160px);
  position: absolute;
  overflow-y: auto;
  border-top:1px solid $neutral2;
}


#places .list-group-item {
  border-color: $neutral2;
  font-size: .9em;
}

#places .list-group-item .material-icons {
  font-size: .9em;
}

#places .list-group-item:hover {
  cursor: pointer;
  background: $neutral4;
  border-color: $neutral4;
}

#places .list-group-item.active .coordinates {
  color: $neutral1;
}

#places .list-group-item.active {
  background: $primary;
  border: 1px solid $primary;
}

#places .list-group-item .coordinates {
  font-size: .7em;
  margin-top: 10px;
  color: $base3;
}

#places .list-group-item .coordinates .material-icons {
  position: relative;
  top: 1.5px;
}

#places,
#places .list-group-item:first-child,
#places .list-group-item:last-child {
  border-radius: 0px !important;
}

#location-list .throbber-loader {
  position: absolute !important;
  top: 50vh !important;
  left: 155px !important;
  background: $secondary !important;
  font-size: 8px !important;
}

#page .throbber-loader {
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  background: $secondary !important;
  font-size: 8px !important;
}

/** Ennen lataamista **/
.top__pagination, .bottom__pagination,
.location-management #filter, .locationGrid-page #filter { display:none !important;}

/** Lataamisen jäkeen */

body.locations-loaded .throbber-loader {
  display: none !important;
}
body.locations-loaded .location-management #filter, body.locations-loaded .locationGrid-page #filter,
body.locations-loaded .top__pagination,
body.locations-loaded .bottom__pagination { display:block !important;}

#location-list #filter { text-align: center; width:350px; margin-bottom:10px;}
#page.location-management #filter { margin-top:0px; margin-bottom:20px !important;}
#page #filter { text-align:center; margin-top:20px;}
#page #filter button,
#location-list #filter button { font-size:.8em !important;}
#page #filter button .material-icons,
#location-list #filter button .material-icons { font-size:11px; color:$fifth; top:1px; margin-right:2px; position: relative;}

.btn-secondary.focus, .btn-secondary:focus .material-icons,
.btn-secondary:not(:disabled):not(.disabled):active .material-icons,
#page #filter button:hover .material-icons,
#location-list #filter button:hover .material-icons { color:$neutral1 !important;}

#page #filter button:first-of-type,
#location-list #filter button:first-of-type { margin-right:5px;}
#page #filter button:last-of-type,
#location-list #filter button:last-of-type { margin-left:5px;}

.search {
  padding: 10px 10px 0px 10px;
  left: 0px;
  top: 0px;
  z-index: 3;
  background: $neutral1;
  width: 345px !important;
}

.search input,
.search button {
  position: absolute;
  top: 3px;
  height:35px;
}

.search button .material-icons { font-size:.9em;}
.search input { font-size:.9em;}

#place {
  width: calc(100% - 350px);
  height: calc(100vh - 56px);
  overflow-y: auto;
  left: 350px;
  top: 0px;
  position: absolute;
  background: $neutral3;
}

#place .place-innercontainer {
  max-height: 300px;
  overflow-x: auto;
  margin-bottom: -10px;
}

#place #details {
  position: absolute;
  z-index: 9990;
  right: 20px;
  background: $neutral1;
  width: 504px;
}

#place #details .metadata {
  font-size: 0.9em;
  line-height: 1em;
  background: $neutral3;
  margin: 30px -20px -23px -20px;
  border-top: 1px solid $neutral2;
}

#place #details .player-wrapper {
  margin-bottom: 50px;
}

.metadata .button {
  display: block;
  padding: 8px;
  text-align: center;
  line-height: 2.5em;
  font-size: .85em;
  font-weight: bold;
}


.metadata .open-page.button {
  width: 70%;
  background: $neutral1;
  color: $base;
}

.metadata .edit-page.button {
  width: 30%;
  background: $neutral2;
  color: $base3;
}

.metadata .open-page.button:hover {
  background: $secondary;
  color: $neutral1;
  text-decoration: none;
}

.metadata .edit-page.button:hover {
  background: $special;
  color: $neutral1;
  text-decoration: none;
}

.favorite {
  color: $favorie;
}

#welcome {
  height: calc(100vh - 100px);
  position: relative;
  overflow: hidden;
}


#welcome h1 {
  font-size: 5vw;
  font-weight: bold;
}

#welcome div {
  margin: 0;
  text-align: center;
  position: absolute;
  top: 55%;
  left: 50%;
  margin-right: -50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.scramble-container {
  font-family: 'Roboto Mono', monospace;
  font-size: 1.3em !important;
  font-weight: 500;
  text-align: center;
  width: 500px !important;
  margin-top: -220px !important;
  position: absolute;
}

/** module view **/
.module-view .leaflet-container {
  position: relative !important;
  min-width: 40% !important;
  float: right !important;
}

.module-view #details {
  left: 0px;
  position: absolute;
  width: 60.5% !important;
  height: calc(100vh - 56px);
}

.module-view #place .place-innercontainer {
  max-height: calc(100vh - 190px) !important;
}

.module-view #place #details .metadata {
  bottom: 24px;
  width: 100%;
  position: absolute;
}


.module-view .welcome { 
   text-align:center;
   margin: 0;
   position: absolute;
   top: 50.5%;
   left: 50%;
   margin-right: -50%;
   transform: translate(-50%, -50%) 
  }

/** Single page and Location list **/

.coordinates {
  font-size: .8em;
}

.coordinates .material-icons {
  font-size: 1em;
  top: 2px;
  position: relative;
}

.react-player {
  margin: 20px 0px 20px 0px;
}

a.link-to-out .material-icons,
a.link-to-out .material-icons,
a.link-to-flickr .material-icons,
a:visited.link-to-flickr .material-icons { 
  font-size: 1.2em;
  position: relative;
  margin-right:5px; top:4px;} 

.meta {
  margin-top: 20px;
}

.description {
  margin-top: 20px;
  font-size: .9rem !important;
}

a.link-to-out,
a.link-to-out,
a.link-to-flickr,
a:visited.link-to-flickr {
  font-size: .75em;
  color: $base2;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

.flickr-lightbox-container { position: relative;}
.flickr-lightbox div { background:$neutral1;}
.flickr-lightbox {
  margin: 25px 0px 10px 0px;
  min-height:45px;
  position:relative;
  z-index:1;
}

.flickr-lightbox img {
  width: 55px;
  height: 55px;
  background:$neutral5;
  position:relative;
}

.flickr-lightbox-container .three-quarters-loader { 
 position:absolute !important; 
 left:50% !important; top:15px !important;
 }


/** Map-view **/

.leaflet-container {
  height: calc(100vh - 56px);
}

#fullpage.map-view .leaflet-container {
  height: calc(100vh - 56px);
  width: 100vw !important;
}


.leaflet-popup-content-wrapper {
  width: 290px;
  max-height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
}

.leaflet-popup-content iframe {
  width: 240px;
  height: auto;
}

.leaflet-popup-content .player-wrapper {
  margin-bottom: 60px;
}

.leaflet-popup-content .flickr-lightbox img {
  width: 55px;
}

.leaflet-popup-content h5 {
  margin-top: 25px;
}

.leaflet-popup-content .metadata {
  font-size: 0.9em;
  line-height: 1em;
  background: $neutral3;
  margin: 20px 0px;
  border: 1px solid $neutral2;
}

.leaflet-popup-content .description {
  font-size: 1.05em !important;
}

.leaflet-popup-content .meta {
  font-size: 1.2em !important;
}

.leaflet-popup-content .meta a,
.leaflet-popup-content .meta a:visited {
  color: $base;
}

.leaflet-popup-content .button {
  font-size: 0.98em;
}


/** Location Grid **/
.locationGrid-page {
  padding: 60px 20px 60px 20px;
}

.locationGrid-page .location {
  width: 33.3333%;
  margin-bottom: 10px;

}

.locationGrid-page .location .innercontainer {
  background: $neutral1;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.01),
    0 2px 4px rgba(0, 0, 0, 0.01),
    0 4px 8px rgba(0, 0, 0, 0.01),
    0 8px 16px rgba(0, 0, 0, 0.01),
    0 16px 32px rgba(0, 0, 0, 0.01),
    0 32px 64px rgba(0, 0, 0, 0.01);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.01),
    0 2px 4px rgba(0, 0, 0, 0.01),
    0 4px 8px rgba(0, 0, 0, 0.01),
    0 8px 16px rgba(0, 0, 0, 0.01),
    0 16px 32px rgba(0, 0, 0, 0.01),
    0 32px 64px rgba(0, 0, 0, 0.01);
  border-radius: 3px;
  min-height: 510px;
  font-size: .9em;
}

.locationGrid-page .location .metadata {
  border-bottom: 1px solid $neutral3;
}

.locationGrid-page .location .location-head {
  background: $primary;
  color: $neutral1;
  padding: 20px;
  z-index: 9991;
  border-radius: 3px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  height: 110px;
}

.locationGrid-page .location .location-head h5 {
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.locationGrid-page .location .location-head h5 a,
.locationGrid-page .location .location-head h5 a:visited {
  color: $neutral1;
  font-weight: normal;
}

.locationGrid-page .location .location-body {
  max-height: 400px;
  overflow-y: auto;
}

.locationGrid-page .location .location-inner-body {
  margin: 20px;
}

.locationGrid-page .leaflet-container {
  height: 200px;
}


/** Locations-Management */
.location-management {
  padding: 80px 0px 80px 0px;
}

.location-management .leaflet-container {
  height: 100% !important;
}

.location-management .row {
  padding: 10px 30px 10px 30px;
  width: 100%;
  margin: 0 auto;
}

.location-management .row .headline h6 {
  font-size: .95em;
}

.location-management .row .description {
  font-size: .8em !important;
  margin: 0px 20px 0px 20px;
}

.location-management .row:first-of-type {
  border-top-left-radius: 5px;
  border-top-right-radius:5px;
}

.location-management .row:last-of-type {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius:5px;
}


.location-management .row:nth-of-type(even) {
  background: $neutral7;
}

.location-management .row:nth-of-type(odd) {
  background: $neutral1;
}

.location-management .row:last-of-type {
  margin-bottom: 20px;
}

.location-management .control .open,
.location-management .control .edit {
  margin: 0 auto !important;
  position: relative;
  top:8px;
}


/** Location single page **/
.locationView-page .container {
  background: $neutral1;
}

.locationView-page .map {
  margin-left: -30px;
}

.locationView-page .map .leaflet-container {
  height: calc(100vh - 56px);
}

.locationView-page .details {
  overflow-y: auto;
  height: calc(100vh - 56px);
  margin-right: -15px;

}

.locationView-page .details h4 {
  margin-top: 20px;
}

h4 .material-icons {
  display:inline-block;
  right:20px; position: absolute;
}

.locationView-page .details .go-back .material-icons {
  font-size: .8em;
  font-weight: bold;
}

.locationView-page .details .go-back {
  font-size: .7em;
  border-radius: 20px;
  background: transparent;
  padding: 5px 20px 5px 12px;
  border: 1px solid $neutral6;
  font-weight: bold;
  color: $base2;
}

.locationView-page .details .go-back:hover {
  background: $primary;
  border-color: $primary;
  color: $neutral1;
}

.locationView-page .player-wrapper {
  margin-bottom: 40px;
}
.locationView-page .edit  {
 margin-top:20px;
}
.react-slicer {
  display: block;
}

.location-management .top__pagination,
.location-management .bottom__pagination {
  margin-left: 5px;
}

.top__pagination,
.bottom__pagination {
  display: block;
  list-style: none;
  padding-left: 0;
  position: absolute;
  text-align: center;
  width: 100%;
  margin-left: -18px;
  padding: 0px;

}

.top__pagination {
  top: 25px;
}

.bottom__pagination-item,
.top__pagination-item {
  display: inline-block;
  cursor: pointer;
  padding: 5px 10px;
  color: $primary;
  background: $neutral1;
  margin-left: -1px;
}

.bottom__pagination-item:hover,
.top__pagination-item:hover {
  background-color: $fourth;
  color: $neutral1;
}

.bottom__pagination-item_active,
.top__pagination-item_active {
  background-color: $primary;
  color: $neutral1;
}

.bottom__pagination-item:first-of-type,
.top__pagination-item:first-of-type {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.bottom__pagination-item:last-of-type,
.top__pagination-item:last-of-type {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.bottom__arrow,
.top__arrow {
  position: relative;
  top: -1px;
}


/** Sisältösivut **/
.content-page p { max-width: calc(100em * 0.5); }
.content-page h3 { margin-top:40px;}
.content-page h5 { margin-top:30px;}
.content-page h6 { margin-top:0px;}
.content-page .row { margin:0px -15px 0px -15px !important; padding:0px !important;}
.content-page .space { margin-top:30px !important;}
/** Video, lightbox, player & toast **/

.Toastify__toast--default {
  background: $neutral1 !important;
  color: $base !important;
  padding: 25px !important;
  font-size: .9em;
  border-radius: 5px !important;
}

.player-wrapper {
  position: relative;
  padding-top: 56.25%;
  /* Player ratio: 100 / (1280 / 720) */
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}

#lightboxBackdrop {
  z-index: 9991;
}


@media screen and (min-width: 1600px) {
  .react-slicer__view {
    max-width: 1600px;
    margin: 0 auto;
  }
}


@media screen and (max-width: 1400px) {
  .row {
    width: 100% !important;
  }

}

@media screen and (max-width: 1024px) {
  #location-list #place .place-innercontainer {
    max-height: calc(50vh - 190px) !important;
  }

  #location-list .metadata.flex {
    top: calc(50vh - 130px) !important;
    position: absolute;
    width: 100%;
  }

  #location-list #details {
    width: 100% !important;
    height: calc(50vh - 55px);
    right: 0px !important;
  }

  #location-list .leaflet-container {
    height: 50vh !important;
    width: 100%;
    bottom: 0;
    position: absolute !important;
  }
}

@media screen and (max-width: 960px) {
  .locationGrid-page .location {
    width: 100%
  }

  .scramble-container {
    width: 400px !important;
    font-size: 1em !important;
  }
}

@media screen and (max-width: 875px) {


  #location-list .throbber-loader {
    left: 105px !important;
  }

  .location-management .row {
    margin: 0px !important;
  }

  .location-management .row:last-of-type {
    margin-bottom: 30px !important;
  }

  .location-management .headline,
  .location-management .map {
    margin: 10px 0px 10px 0px;
  }

  .location-management .description {
    margin: 0px !important;
    font-size: .7em !important;
    padding: 10px;
  }

  .location-management .control {
    flex-direction: row;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .location-management .control a.open,
  .location-management .control a.edit {
    width: auto !important;
    margin: 5px 0px 0px 0px !important;
    width: 100px !important;
    margin: 0px !important;
  }
}

@media screen and (max-width: 850px) {
  aside { width:251px;}
  #location-list #filter { width:250px;}

  #location-list .search,
  #location-list #places {
    width: 250px !important;
  }

  #location-list #place {
    width: calc(100% - 250px) !important;
    left: 250px !important;
  }
}


@media screen and (max-width: 766px) {

  form .subdetails { margin:0px;}

  #page.locationView-page {
    background: $neutral1;
  }

  .subdetails {
    text-align: center;
    margin-bottom: 0px;
  }
 
  .subdetails .col-sm-4,
  .subdetails .col-sm-5 {
    max-width: 100% !important;
  }

  .subdetails .col-sm-5 {
    margin: 0px !important;
    padding: 0px !important;
  }

  .subdetails button {
    width: 100% !important;
  }

  .editlocation .form-group,
  .addlocation .form-group {
    border-radius: 0px !important;
  }

  .editlocation .row,
  .addlocation .row {
    width: 100% !important;
    display: block !important;
    margin: 0px !important;
  }

  .col-sm {
    padding: 0px;
  }

  .locationView-page .map {
    position: absolute;
    top: 0px;
    right: 0;
    width: 100vw !important;
    height: 200px !important;
  }

  .locationView-page .map .leaflet-container {
    height: 200px !important;
  }

  .locationView-page .details {
    margin-top: 200px !important;
    height: auto;
  }

  nav ul li {
    display: block;
  }

  nav ul li a.nav-link,
  nav ul li a.nav-link:visited {
    padding: 10px;
    text-align: center;
    margin: 0px 0px 0px 0px;
    border-radius: 0px;
  }

  nav .nav-link.add-new {
    position: static;
    background: transparent;
  }

  nav .nav-link.add-new:hover,
  nav a:hover,
  nav a:active,
  nav .nav-link.active,
  nav .nav-link.active:hover {
    color: $neutral1;
    background: $fifth;
  }

  div#basic-navbar-nav {
    background: $fourth;
    margin: 10px -16px -8px;
  }
}

@media screen and (max-width: 600px) {

  nav .module { display:none;}

  aside { width:100%; border:none; z-index:0;}

  #page .throbber-loader {
    left: 48% !important;
  }

  #location-list .throbber-loader {
    left: 46% !important;
    top:150px !important;
  }
  
  #places .list-group-item { padding:3px 10px 3px 10px;}
  #places .list-group-item .coordinates { display:none;}

  #location-list #filter { width:100%;}

  .scramble-container {
    font-size: 1.1em !important;
    width: 100% !important;
  }

  #location-list .search {
    width: 100% !important;
  }

  #welcome {
    height: 500px;
    margin: 0px;
  }

  #place::-webkit-scrollbar {
    width: 5px;
  }

  #location-list #places {
    width: 100% !important;
    height: calc(50vh - 170px) !important;
  }

  #location-list #place {
    width: 100% !important;
    height: 60vh;
    top: calc(50vh - 67px);
    left: 0px !important;
    position: absolute !important;
    border: 1px solid $neutral3;
    background: $neutral1;
  }

  #location-list #place #details {
    top: 20vh;
    height: auto;
    padding-bottom: 100px;
    padding-top: 50px;
  }

  .module-view #place #details .metadata,
  #location-list .metadata.flex {
    top: -30px !important;
    position: absolute;
    width: 100%;
    height: 50px;
    border-bottom: 1px solid $neutral3 !important;
  }

  #location-list #place .place-innercontainer {
    height: auto !important;
    max-height: 100% !important;
    min-height: auto !important;
  }

  #location-list .leaflet-container {
    position: absolute;
    width: 100%;
    top: 0vh;
    height: 20vh !important;
  }
}

@media screen and (max-width: 575px) { 
  #page.content-page .innercontainer,
  #page.content-page .innerwidth { margin:0px !important;}
  .location-management .row .description { padding:0px; margin:-20px 0 0 0 !important;}
  .location-management .row .control { margin:15px 0px 0px 0px; flex-direction: row;}
  .location-management .row .control a.open { margin:0px 5px 0px 0px !important;}
  .location-management .row .control a.edit { margin:0px 0px 0px 5px !important;}
}

@media screen and (max-width: 500px) {
  .flickr-lightbox {
    overflow: hidden;
  }
}